In [1]:
import numpy as np
import pandas as pd
import os 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('D3.csv')

In [3]:
df.head()

         X1        X2        X3         Y
0  0.000000  3.440000  0.440000  4.387545
1  0.040404  0.134949  0.888485  2.679650
2  0.080808  0.829899  1.336970  2.968490
3  0.121212  1.524848  1.785455  3.254065
4  0.161616  2.219798  2.233939  3.536375

In [4]:
x_1 = df.values[:,0]
x_2 = df.values[:,1]
x_3 = df.values[:,2]
Y = df.values[:,3]

In [5]:
m = len(Y)
print(m)

100

In [6]:
x_0 = np.ones((m,1))
x_i = [x_1,x_2,x_3]
for i in range(len(x_i)):
    x_i[i] = x_i[i].reshape(m,1)

In [7]:
for  i in range(len(x_i)):
    x_i[i] = np.hstack((x_0,x_i[i]))

In [8]:
theta = np.zeros(2)

In [9]:
def compute_cost(X, y, theta): 
  """ 
  Compute cost for linear regression. 
 
  Input Parameters 
  ---------------- 
  X : 2D array where each row represent the training example and each column represent 
      m= number of training examples 
      n= number of features (including X_0 column of ones) 
  y : 1D array of labels/target value for each traing example. dimension(1 x m) 
 
  theta : 1D array of fitting parameters or weights. Dimension (1 x n) 
 
  Output Parameters 
  ----------------- 
  J : Scalar value. 
  """ 
  predictions = X.dot(theta) 
  errors = np.subtract(predictions, y) 
  sqrErrors = np.square(errors) 
  J = 1 / (2 * m) * np.sum(sqrErrors) 
 
  return J

In [10]:
def gradient_descent(X, y, theta, alpha, iterations): 
  """ 
  Compute cost for linear regression. 
 
  Input Parameters 
  ---------------- 
  X : 2D array where each row represent the training example and each column represent 
      m= number of training examples 
      n= number of features (including X_0 column of ones) 
  y : 1D array of labels/target value for each traing example. dimension(m x 1) 
  theta : 1D array of fitting parameters or weights. Dimension (1 x n) 
  alpha : Learning rate. Scalar value 
  iterations: No of iterations. Scalar value.  
 
  Output Parameters 
  ----------------- 
  theta : Final Value. 1D array of fitting parameters or weights. Dimension (1 x n) 
  cost_history: Conatins value of cost for each iteration. 1D array. Dimansion(m x 1)   
  """ 
  cost_history = np.zeros(iterations) 
 
  for i in range(iterations): 
    predictions = X.dot(theta) 
    errors = np.subtract(predictions, y) 
    sum_delta = (alpha / m) * X.transpose().dot(errors); 
    theta = theta - sum_delta; 
    cost_history[i] = compute_cost(X, y, theta)   
 
  return theta, cost_history

In [11]:
final_thetas = np.zeros((3,2))
costhistorys = [[]] * 3

In [12]:
alpha = .01
iterations = 1500

In [13]:
for i in range(len(costhistorys)):
    final_thetas[i,:], costhistorys[i] = gradient_descent(x_i[i], Y, theta, alpha, iterations)

In [14]:
old_x = [x_1,x_2,x_3]

In [15]:
for i in range(len(x_i)):   
    plt.scatter(old_x[i], Y, color='red', marker= '+', label= 'Training Data') 
    plt.plot(x_i[i][:,1], x_i[i].dot(final_thetas[i,:]), color='green', label='Linear Regression') 

    plt.rcParams["figure.figsize"] = (10,6) 
    plt.grid() 
    plt.xlabel('Population of City in 10,000s') 
    plt.ylabel('Profit in $10,000s') 
    plt.title('Linear Regression Fit') 
    plt.legend() 
    plt.savefig('output'+ str(i) + '.jpg')
    plt.clf()
    

    plt.plot(range(1, iterations + 1),costhistorys[i], color='blue') 
    plt.rcParams["figure.figsize"] = (10,6) 
    plt.grid() 
    plt.xlabel('Number of iterations') 
    plt.ylabel('Cost (J)') 
    plt.title('Convergence of gradient descent')
    plt.savefig('convergence' + str(i) + '.jpg') 
    plt.clf()

Things that I need to Know to do this HW:  
1. How to do the dot product 
2. how to transpose in python 
3. need to know how how to do element wise claculations (particularly squaring element wise)

# Part 2

In [16]:
df2 = pd.read_csv('D3.csv')
iterations2 = 1500
alpha2 = .01

In [17]:
df2 =  pd.concat([pd.Series(1, index=df.index, name='x_0'), df], axis=1)
df2.head()

   x_0        X1        X2        X3         Y
0    1  0.000000  3.440000  0.440000  4.387545
1    1  0.040404  0.134949  0.888485  2.679650
2    1  0.080808  0.829899  1.336970  2.968490
3    1  0.121212  1.524848  1.785455  3.254065
4    1  0.161616  2.219798  2.233939  3.536375

In [18]:
X = df2.drop(columns='Y')
Y = df2.values[:,4]

In [19]:
theta = np.array([0]*len(X.columns))
print(theta)

[0 0 0 0]

In [20]:
model, cost_func = gradient_descent(X,Y,theta,alpha2,iterations2)

In [21]:
plt.plot(range(1, iterations2 + 1),cost_func, color='blue') 
plt.rcParams["figure.figsize"] = (10,6) 
plt.grid() 
plt.xlabel('Number of iterations') 
plt.ylabel('Cost (J)') 
plt.title('Convergence of gradient descent')
plt.savefig('convergence_part2.jpg') 
plt.clf()

In [22]:
print(model)

x_0    4.151187
X1    -1.839429
X2     0.724739
X3    -0.095133
dtype: float64

In [23]:
#Data: 
#Predict the value of y for new (X1, X2, X3) values (1, 1, 1), for (2, 0, 4), and for (3, 2, 1)

In [24]:
data = {'x1New' : [1,2,3], 'x2New' : [1,0,2], 'x3New' : [1,4,1]}
newDf = pd.DataFrame(data)
newDf =  pd.concat([pd.Series(1, index=newDf.index, name='x0New'), newDf], axis=1)
newDf.head()

   x0New  x1New  x2New  x3New
0      1      1      1      1
1      1      2      0      4
2      1      3      2      1

In [26]:
model.shape

(4,)

In [33]:
print(model.shape,newDf.shape)

(4,) (3, 4)

In [38]:
newDf = newDf.to_numpy() #Why!!! 
model = model.to_numpy()

In [39]:
Hypothosis = newDf.dot(model)

In [40]:
Hypothosis

array([ 2.94136408,  0.09179843, -0.01275555])